<div class="jumbotron">
  <h1 class="display-3">Hello, staff!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <!-- *ngIf="!(afAuth.authState | async)" -->

  <div>
    <button class="btn btn-info" *ngIf = "!authService.loggedIn()" routerLink="/login" id="email">Login With Email</button>
    <br/>
    <br/>
  </div>
  <button class="btn btn-primary" *ngIf = "authService.loggedIn()" routerLink="/dashboard">Go to Dashboard</button>
</div>